//_________COLOURS_______
$black:#4D4C4C;
$white:#ffffff;
$dBlue:#232E44;
$dBlue2:rgba(35, 46, 68, 0.90);
$teal:#0FB8AE;
$teal2:rgba(15, 184, 174, 0.4);
$teal3:#059E95;
$teal4:rgba(15, 184, 174, 0.85);
$grey1:#F9F9F9;
$grey2:#E5E5E5;
$grey3: #ECECEC;
