.boxes1{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   column-gap: 0;
   row-gap: 0;
   justify-items: stretch;
   align-items: stretch;

   .box{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 20rem 27rem 4rem 1fr;
      column-gap: 0;
      row-gap: 0;
      justify-items: stretch;
      align-items: stretch;
   
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
   
   
      //MOST POP
      &__mostPop{
         grid-column: 1 / span 1;
         grid-row: 1 / span 1;
   
         img{
            display: block;
            height: 19rem;
            margin-left: auto;
         }
      }
   
      //TOP 
      &__top{
         grid-column: 1 / span 1;
         grid-row: 2 / span 1;
         
         .boxPrice{
            width: 22rem;
            margin: 0rem 2rem 5rem 2rem;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
            align-items: center;

            img{
               grid-column: 1 / span 1;
               grid-row: 1 /span 1;

               display: block;
               width: 22rem;
               object-fit: cover;
            }

            p{
               grid-column: 1 / span 1;
               grid-row: 1 /span 1;
               z-index: 3;

               @include Rob-700;
               font-size: 3rem;
               line-height: 100%;
               color: $dBlue;
               text-align: center;

               span{
                  display: block;
                  @include Rob-400;
                  line-height: 140%;
                  font-size: 2rem;
                  color: $teal;
               }
               
            }

            &--cf{
         
               p{
                  line-height: 100%;
                  color: $dBlue;
                  text-align: center;
                  margin-bottom: 1rem;
   
                  span{
                     margin-top: 1rem;
                     line-height: 105%;
                  }
                  
            }
            }
         }
      }
      //ANGLE
      &__angle{
         grid-column: 1 / span 1;
         grid-row: 3 / span 1;
         background-image: url('../img/angle1-2.png');
         background-size: cover;
         background-repeat: no-repeat;
         background-position: bottom center;
         transform: translateY(-0.05px);

         &--blue{
            background-image: url('../img/angle1-2-blue.png');
         }
      }
      //MORE
      &__more{
         grid-column: 1 / span 1;
         grid-row: 4 / span 1;
         
         padding: 2rem 2rem 2rem;
         background-color: $teal4;
         @include Flex1;
   
         a{
            @include basicBtn3;
            font-size: 2rem;
            margin-left: 2rem;
            padding: 2rem 3rem;
         }

         &--blue{
            background-color: $dBlue2;
         }
      }
      &__moreInner{

         align-self: flex-start !important;
         max-width: 40rem;

         h2{
            @include Rob-700;
            font-size: 2.8rem;
            line-height: 140%;
            color: $white;
         }
   
         p{
            @include Rob-400;
            font-size: 1.8rem;
            line-height: 140%;
            color: $white;
            margin-top: 1rem;
         }
   
         ul{
            margin-left: 1.5rem;
            margin-top: 1rem;
            li{
               @include Rob-400;
               font-size: 1.8rem;
               line-height: 147%;
               color: $white;
            }
         }

         &--headingOnly{
            align-self: center !important;
         }
      }

      &--regOffAddPlusDirector{
         background-image: url('../img/services-banners/ROA-DSA.png');
      }
   
      &--VirtBussinesAddressTelAnsw{
         background-image: url('../img/services-banners/VBA-TAS.png');
      } 
   
      &--VirtBussinesPlusTelAnsw{
         background-image: url('../img/services-banners/VBP_TAS.png');
      }

      &--VirtBussinesPlusLegal{
         background-image: url('../img/services-banners/VBP-Legal.png');
      } 
   
      &--meetingRooms{
         background-image: url('../img/services-banners/meeting-rooms.png');
      }
   
      &--virtBussinesPlus{
         background-image: url('../img/services-banners/VBP.png');
      }
   
      &--webHosting{
         background-image: url('../img/services-banners/VBP-Web.png');
      }

      &--VirtBussinesAddress{
         background-image: url('../img/services-banners/VBA.png');
      }

      &--companyFormation{
         background-image: url('../img/services-banners/CF.png');
      }

      &--TAS{
         background-image: url('../img/services-banners/TAS.png');
      }

      &--CF{
         background-image: url('../img/services-banners/CF.png');
      }
   }
}

.boxes2{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   column-gap: 3rem;
   row-gap: 0;
   justify-items: stretch;
   align-items: stretch;

   .box{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 15rem 20rem 5rem 4rem 1fr;
      column-gap: 0rem;
      row-gap: 0;
      justify-items: stretch;
      align-items: stretch;
   
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
   
   
      //MOST POP
      &__mostPop{
         grid-column: 1 / span 1;
         grid-row: 1 / span 1;
   
         img{
            display: block;
            height: 14rem;
            margin-left: auto;
         }
      }
   
      //TOP 
      &__top{
         grid-column: 1 / span 1;
         grid-row: 2 / span 1;
         
         .boxPrice{
            width: 20rem;
            margin: 0rem 2rem 0rem 2rem;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
            align-items: center;

            img{
               grid-column: 1 / span 1;
               grid-row: 1 /span 1;

               display: block;
               width: 20rem;
               height: 20rem;
               object-fit: cover;
            }

            p{
               margin: 0;
               padding: 0;
               grid-column: 1 / span 1;
               grid-row: 1 /span 1;
               z-index: 3;

               @include Rob-500;
               font-size: 3rem;
               line-height: 100%;
               color: $dBlue;
               text-align: center;

               span{
                  display: block;
                  @include Rob-400;
                  line-height: 140%;
                  font-size: 2rem;
                  color: $teal;
               }
               
            }
         }
      }

      //ANGLE
      &__angle{
         grid-column: 1 / span 1;
         grid-row: 4 / span 1;
         background-image: url('../img/angle1-2.png');
         background-size: cover;
         background-repeat: no-repeat;
         background-position: bottom center;
         transform: translateY(-0.05px);

         &--blue{
            background-image: url('../img/angle1-2-blue.png');
         }
      }

      //MORE
      &__more{
         grid-column: 1 / span 1;
         grid-row: 5 / span 1;
         
         padding: 2rem 2rem 2rem;
         background-color: $teal4;
         @include Flex1;
         flex-direction: column;
         justify-content: space-between;
         align-items: flex-start;
   
         a{
            @include basicBtn3;
            font-size: 2rem;
            margin: 0 auto;
            padding: 2rem 3rem;
         }

         &--blue{
            background-color: $dBlue2;
         }
      }

      &__moreInner{

         width: 100%;

         h2{
            @include Rob-700;
            font-size: 2.8rem;
            line-height: 140%;
            color: $white;
            text-align: center;
            margin-bottom: 2rem;
         }
   
         p{
            @include Rob-400;
            font-size: 1.8rem;
            line-height: 140%;
            color: $white;
            margin-top: 0rem;
            margin-bottom: 2rem;
            text-align: center;
         }

         &--headingOnly{
            align-self: center !important;
         }
      }

      &--regOffAddPlusDirector{
         background-image: url('../img/services-banners/ROA-DSA.png');
      }
   
      &--virtBussinesPlus{
         background-image: url('../img/services-banners/VBP.png');
      }

   }

}


@media screen and (max-width: 1900px){
   .boxes1{
   
      .box{
          //MORE
         &__more{

            @include Flex1;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;


            a{
               margin-left: 0rem;
               margin: 0 auto;
               margin-top: 2rem;
            }
         }

         &__moreInner{
            width: 100%;
            max-width: 100%;

            h2{
               text-align: center;
            }
            p{
               text-align: center;
            }

            ul{
               width: fit-content;
               margin-left: auto;
               margin-right: auto;
            }
         }
      }
   }
}


@media screen and (max-width: 1200px){
   .boxes1{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr ;
      
   
      .box{
            grid-template-rows: 11rem 25rem 4rem 1fr;

            //MOST POP
            &__mostPop{
               grid-column: 1 / span 1;
               grid-row: 1 / span 1;

               img{
                  display: block;
                  height: 10rem;
                  margin-left: auto;
               }
            }
      
            //TOP
            &__top{
               grid-column: 1 / span 1;
               grid-row: 2 / span 1;
               
               .boxPrice{
                  width: 20rem;
                  margin: 0rem 2rem 5rem 2rem;
      
                  img{
                     width: 20rem;
                  }
      
                  p{
                     font-size: 2.5rem;
      
                     span{
                        font-size: 1.8rem;
                     }
                     
                  }
               }
            }

            //ANGLE
            &__angle{
               background-size: cover;
               background-repeat: no-repeat;
               background-position: top center;
            }

      }
   }
}


@media screen and (max-width: 900px){
   .boxes2{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;
      column-gap: 0rem;
      row-gap: 3rem;
   }
}